In [6]:
import pandas as pd

In [78]:
data = pd.read_csv("kaggle_bike_competition_train.csv", header=0, error_bad_lines=False)
data.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011/1/1 0:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011/1/1 1:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011/1/1 2:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011/1/1 3:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011/1/1 4:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [79]:
temp = pd.DatetimeIndex(data['datetime'])
data['date'] = temp.date
data['time'] = temp.time

In [80]:
data['hour'] = pd.to_datetime(data.time, format="%H:%M:%S")
data['hour'] = pd.Index(data['hour']).hour

In [81]:
data['dayofweek'] = pd.DatetimeIndex(data.date).dayofweek

In [82]:
data['days'] = (data.date - data.date[0]).astype('timedelta64[D]')

In [83]:
CASUAL = data['casual'].groupby(data['dayofweek']).mean()
CASUAL.reset_index()

   dayofweek     casual
0          0  29.843972
1          1  22.979207
2          2  22.521599
3          3  24.007083
4          4  31.001962
5          5  63.625000
6          6  57.051298

In [84]:
REG = data['registered'].groupby(data['dayofweek']).mean()

In [85]:
REG.reset_index()

   dayofweek  registered
0          0  160.546744
1          1  166.744639
2          2  165.889749
3          3  173.289118
4          4  166.842381
5          5  133.040404
6          6  123.788474

In [86]:
data['sat'] = 0
data['sun'] = 0
data.sat[data['dayofweek'] == 5] = 1
data.sun[data['dayofweek'] == 6] = 1
data.head()

C:\ProgramData\Anaconda2\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda2\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,date,time,hour,dayofweek,days,sat,sun
0,2011/1/1 0:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011-01-01,00:00:00,0,5,0.0,1,0
1,2011/1/1 1:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011-01-01,01:00:00,1,5,0.0,1,0
2,2011/1/1 2:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011-01-01,02:00:00,2,5,0.0,1,0
3,2011/1/1 3:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011-01-01,03:00:00,3,5,0.0,1,0
4,2011/1/1 4:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011-01-01,04:00:00,4,5,0.0,1,0

In [91]:
dataRel = data.drop(['datetime', 'count', 'date', 'time', 'dayofweek'], axis=1)

In [92]:
dataRel

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,hour,days,sat,sun
0,1,0,0,1,9.84,14.395,81,0.0000,3,13,0,0.0,1,0
1,1,0,0,1,9.02,13.635,80,0.0000,8,32,1,0.0,1,0
2,1,0,0,1,9.02,13.635,80,0.0000,5,27,2,0.0,1,0
3,1,0,0,1,9.84,14.395,75,0.0000,3,10,3,0.0,1,0
4,1,0,0,1,9.84,14.395,75,0.0000,0,1,4,0.0,1,0
5,1,0,0,2,9.84,12.880,75,6.0032,0,1,5,0.0,1,0
6,1,0,0,1,9.02,13.635,80,0.0000,2,0,6,0.0,1,0
7,1,0,0,1,8.20,12.880,86,0.0000,1,2,7,0.0,1,0
8,1,0,0,1,9.84,14.395,75,0.0000,1,7,8,0.0,1,0
9,1,0,0,1,13.12,17.425,76,0.0000,8,6,9,0.0,1,0
10,1,0,0,1,15.58,19.695,76,16.9979,12,24,10,0.0,1,0
11,1,0,0,1,14.76,16.665,81,19.0012,26,30,11,0.0,1,0
12,1,0,0,1,17.22,21.210,77,19.0012,29,55,12,0.0,1,0
13,1,0,0,2,18.86,22.725,72,19.9995,47,47,13,0.0,1,0
14,1,0,0,2,18.86,22.725,72,19.0012,35,71,14,0.0,1,0
15,1,0,0,2,18.04,21.970,77,19.9995,40,70,15,0.0,1,0
16,1,0,0,2,17.22,21.210,82,19.9995,41,52,16,0.0,1,0
17,1,0,0,2,18.04,21.970,82,19.0012,15,52,17,0.0,1,0
18,1,0,0,3,17.22,21.210,88,16.9979,9,26,18,0.0,1,0
19,1,0,0,3,17.22,21.210,88,16.9979,6,31,19,0.0,1,0
20,1,0,0,2,16.40,20.455,87,16.9979,11,25,20,0.0,1,0
21,1,0,0,2,16.40,20.455,87,12.9980,3,31,21,0.0,1,0
22,1,0,0,2,16.40,20.455,94,15.0013,11,17,22,0.0,1,0
23,1,0,0,2,18.86,22.725,88,19.9995,15,24,23,0.0,1,0
24,1,0,0,2,18.86,22.725,88,19.9995,4,13,0,1.0,0,1
25,1,0,0,2,18.04,21.970,94,16.9979,1,16,1,1.0,0,1
26,1,0,0,2,17.22,21.210,100,19.0012,1,8,2,1.0,0,1
27,1,0,0,2,18.86,22.725,94,12.9980,2,4,3,1.0,0,1
28,1,0,0,2,18.86,22.725,94,12.9980,2,1,4,1.0,0,1
29,1,0,0,3,17.22,21.210,77,19.9995,0,2,6,1.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10856,4,0,1,1,15.58,19.695,46,22.0028,13,512,18,717.0,0,0
10857,4,0,1,1,15.58,19.695,46,26.0027,19,334,19,717.0,0,0
10858,4,0,1,1,14.76,16.665,50,16.9979,4,264,20,717.0,0,0
10859,4,0,1,1,14.76,17.425,50,15.0013,9,159,21,717.0,0,0
10860,4,0,1,1,13.94,16.665,49,0.0000,5,127,22,717.0,0,0
10861,4,0,1,1,13.94,17.425,49,6.0032,1,80,23,717.0,0,0
10862,4,0,1,1,12.30,15.910,61,0.0000,6,35,0,718.0,0,0
10863,4,0,1,1,12.30,15.910,65,6.0032,1,14,1,718.0,0,0
10864,4,0,1,1,11.48,15.150,65,6.0032,1,2,2,718.0,0,0
10865,4,0,1,1,10.66,13.635,75,8.9981,0,5,3,718.0,0,0
10866,4,0,1,1,9.84,12.120,75,8.9981,1,6,4,718.0,0,0
10867,4,0,1,1,10.66,14.395,75,6.0032,2,29,5,718.0,0,0
10868,4,0,1,1,9.84,12.880,75,6.0032,3,109,6,718.0,0,0
10869,4,0,1,1,10.66,13.635,75,8.9981,3,360,7,718.0,0,0
10870,4,0,1,1,9.84,12.880,87,7.0015,13,665,8,718.0,0,0
10871,4,0,1,1,11.48,14.395,75,7.0015,8,309,9,718.0,0,0
10872,4,0,1,1,13.12,16.665,70,7.0015,17,147,10,718.0,0,0
10873,4,0,1,1,16.40,20.455,54,15.0013,31,169,11,718.0,0,0
10874,4,0,1,1,16.40,20.455,54,19.0012,33,203,12,718.0,0,0
10875,4,0,1,1,17.22,21.210,50,12.9980,30,183,13,718.0,0,0
10876,4,0,1,1,17.22,21.210,50,12.9980,33,185,14,718.0,0,0
10877,4,0,1,1,17.22,21.210,50,19.0012,28,209,15,718.0,0,0
10878,4,0,1,1,17.22,21.210,50,23.9994,37,297,16,718.0,0,0
10879,4,0,1,1,16.40,20.455,50,26.0027,26,536,17,718.0,0,0
10880,4,0,1,1,15.58,19.695,50,23.9994,23,546,18,718.0,0,0
10881,4,0,1,1,15.58,19.695,50,26.0027,7,329,19,718.0,0,0
10882,4,0,1,1,14.76,17.425,57,15.0013,10,231,20,718.0,0,0
10883,4,0,1,1,13.94,15.910,61,15.0013,4,164,21,718.0,0,0
10884,4,0,1,1,13.94,17.425,61,6.0032,12,117,22,718.0,0,0
10885,4,0,1,1,13.12,16.665,66,8.9981,4,84,23,718.0,0,0

In [93]:
from sklearn.feature_extraction import DictVectorizer

In [96]:
featureConCols = ['temp','atemp','humidity','windspeed','days','hour']

In [109]:
dataFeatureCon = dataRel[featureConCols]
dataFeatureCon = dataFeatureCon.fillna( 'NA' ) #in case I missed any
X_dict_con  = dataFeatureCon.T.to_dict().values()

In [110]:
vec = DictVectorizer(sparse = False)
X_con = vec.fit_transform(X_dict_con)
X_con

array([[  14.395 ,    0.    ,    0.    ,   81.    ,    9.84  ,    0.    ],
       [  13.635 ,    0.    ,    1.    ,   80.    ,    9.02  ,    0.    ],
       [  13.635 ,    0.    ,    2.    ,   80.    ,    9.02  ,    0.    ],
       ...,
       [  15.91  ,  718.    ,   21.    ,   61.    ,   13.94  ,   15.0013],
       [  17.425 ,  718.    ,   22.    ,   61.    ,   13.94  ,    6.0032],
       [  16.665 ,  718.    ,   23.    ,   66.    ,   13.12  ,    8.9981]])

In [ ]:
# 把离散值的属性放到另外一个dict中
featureCatCols = ['season','holiday','workingday','weather','Saturday', 'Sunday']
dataFeatureCat = dataRel[featureCatCols]
dataFeatureCat = dataFeatureCat.fillna( 'NA' ) #in case I missed any
X_dictCat = dataFeatureCat.T.to_dict().values()